<div class="banner">
  <div class="container position-relative">
    <div class="position-absolute top-50 start-50 translate-middle mt-0">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
        <%# <p class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo.key , height: 300, crop: :fill %>
        <%= cl_image_tag @user.photo.key, class: "avatar-large"%>
        <span class="name-title text-white text-center mt-3 mb-5">
        <%= @user.first_name %>
        <%= @user.last_name %></span>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 10px;">
<!-- Nav tabs -->
    <ul class="nav nav-tabs d-flex justify-content-between bg-light text-dark">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#msg">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#pro">Avis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#set">Description</a>
      </li>
    </ul>
  </div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active text-center mt-5" id="msg">
    <i class="fa-solid fa-location-dot">&nbsp;&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= @user.address %></span>
      <br>
      <i class="fa-solid fa-phone text-dark ">&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= @user.phone %></span>
      <br>
      <i class="fa-solid fa-image-portrait text-dark ">&nbsp;&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= Date.new(Date.today.year() - 2000).year %> ans </span></div>
  <div class="tab-pane container fade" id="pro">
   <% @user.reviews.each do |review| %>
          <div class="comment mb-3">
            <div class="pb-3">
              <p>Noté par : <%= review.user.first_name %></p>
              <%= cl_image_tag @user.photo.key, class: "avatar" %>
            </div>

            <div class="sectioncomment mb-3">
              <%= review.content %>
            </div>

            <p class="text-end"><%= review.rating %> / 5</p>
            <% end %>
          </div>
        </div>
      </div>

        <div class="flex-item">
          <%= simple_form_for([@user, @review], remote: true) do  |f| %>
              <%= f.input :content, label: "Laisse un avis à ton buddy", placeholder: "Ecrire ici" %>
              <%=  f.input :rating, label: "Note ton buddy", as: :select, collection: (1..5), required: true, prompt: "Donnez lui une note de 1 à 5", input_html: { data: { controller: "jquery-bar-rating" } } %>
              <button type="submit" class="button">Envoyer</button>
            <% end %>
        </div></div>
  <div class="tab-pane container fade" id="set">This is a setting tab.
  <%= @user.description %>
  </div>
</div>
</div>
