<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container position-relative">
    <div class="position-absolute top-50 start-50 translate-middle mt-3">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <span class="name-title text-white text-center mt-3">   <%= @user.first_name %>
        <%= @user.last_name %></span>
      </div>
    </div>
  </div>
</div>


<div>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">

  <div class="layout">
  <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
    <div class="page home-page">
      <div class="page-contents">
        <div class="infos">
          <div class="text mt-3 text-start text-dark ">
            <i class="fa-solid fa-location-dot">&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <span class="text-dark"><%= @user.address %></span>
            <br>
            <i class="fa-solid fa-phone text-dark ">&nbsp;&nbsp;&nbsp;</i>
            <span class="text-dark"><%= @user.phone %></span>
            <br>
            <i class="fa-solid fa-image-portrait text-dark ">&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <span class="text-dark"><%= Date.new(Date.today.year() - 2000).year %> ans </span>
          </div>
        </div>
      </div>
    </div>
    <label class="nav" for="home">
    <span>
      Profil
    </span>
    </label>


  <input name="nav" type="radio" class="about-radio" id="about" />
  <div class="page about-page">
    <div class="page-contents">

      <div class="flex-container">
        <div class="flex-item">
          <% @user.reviews.each do |review| %>
          <div class="card">
            <p><%= review.user.first_name %></p>
            <p><%= review.content %></p>
            <p><%= review.rating %> / 5</p>
            <% end %>
          </div>
        </div>

        <div class="flex-item">
          <%= simple_form_for([@user, @review], remote: true) do  |f| %>
              <%= f.input :content, label: "Laisse un avis à ton buddy", placeholder: "Ecrire ici" %>
              <%=  f.input :rating, label: "Note ton buddy", as: :select, collection: (1..5), required: true, prompt: "Donnez lui une note de 1 à 5", input_html: { data: { controller: "jquery-bar-rating" } } %>
              <button type="submit" class="btn btn-primary">Sign in</button>
            <% end %>
        </div>
      </div>

    </div>
  </div>

    <label class="nav" for="about">
      <span>
        Avis
      </span>
    </label>
  <input name="nav" type="radio" class="contact-radio" id="contact" />
    <div class="page contact-page">
      <div class="page-contents">
        <p>User.description</p>
      </div>
    </div>
    <label class="nav" for="contact">
    <span>
      Description
    </span>
    </label>
    </div>
  </div>
</div>
