<div class="banner">
  <div class="container position-relative">
    <div class="position-absolute top-50 start-50 translate-middle mt-0">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
        <%# <p class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo.key , height: 300, crop: :fill %>
        <%= cl_image_tag @user.photo.key, class: "avatar-large"%>
        <span class="name-title text-white text-center mt-3 mb-5">
        <div class="avatar-name">
          <%= @user.first_name %>
          <%= @user.last_name %></span>
        </div>
      </div>
    </div>
  </div>
</div>



  <i class="fa-solid fa-location-dot">&nbsp;&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= @user.address %></span>
      <br>
      <i class="fa-solid fa-phone text-dark ">&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= @user.phone %></span>
      <br>
      <i class="fa-solid fa-image-portrait text-dark ">&nbsp;&nbsp;&nbsp;&nbsp;</i>
      <span class="text-dark"><%= Date.new(Date.today.year() - 2000).year %> ans </span>
      </div>

            <%= simple_form_for([@user, @review], remote: true) do  |f| %>
        <%= f.input :content, label: "Laisse un avis à ton buddy", placeholder: "Ecrire ici" %>
        <%=  f.input :rating, label: "Note ton buddy", as: :select, collection: (1..5), required: true, prompt: "Donnez lui une note de 1 à 5", input_html: { data: { controller: "jquery-bar-rating" } } %>
        <button type="submit" class="btn-valider">Valider</button>
      <% end %>

   <% @user.reviews.each do |review| %>
      <p>Noté par : <%= review.user.first_name %></p>
      <%= cl_image_tag @user.photo.key, class: "avatar" %>
      <%= review.content %>
      <%= review.rating %> / 5
      <% end %>


<%# test %>
<section>
   <div tabindex="0">
     <button>Tab 1</button>
     <p>Tab Content #1</p>
   </div>
   <div tabindex="0">
     <button>Tab 2</button>
     <p>Content for Tab #2</p>
   </div>
   <div tabindex="0">
     <button>Tab 3</button>
     <p>#3 Tab Content</p>
   </div>
</section>

<p class="p">
Demo by Tim Evko.
<a href="http://www.sitepoint.com/you-dont-need-javascript-for-that" target="_blank">See article</a>.</p>
