
<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fa-solid fa-magnifying-glass "></i>
    <% end %>


		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to new_activity_path  do %>
			<%= image_tag "icon-hiking.png", class: "icon-hiking"%>
    <% end %>

		</div>
	</div>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
      <% if user_signed_in? %>
        <%= link_to dashboard_path(current_user) do %>
        <%= cl_image_tag current_user.photo.key,class: "avatar-profile", alt: "avatar-large" %>
      <% end %>
    <% end %>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
    <% if  current_user.pending_bookings_number.positive? %>
      <i class="fa-solid fa-bell "></i>
      <%= current_user.pending_bookings_number %>
    <% else %>
      <i class="fa-solid fa-circle "></i>
      <%= current_user.pending_bookings_number %>
    <% end %>
<%#  %>

		</div>
	</div>

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<a href="#"><i class="fa-solid fa-comment "></i></a>
		</div>
	</div>
</nav>
