
<nav class="mobile-bottom-nav"
 data-controller="user-subscription"
  data-user-subscription-user-id-value="<%= current_user.id %>">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>


		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to new_activity_path  do %>
			<%= image_tag "icon-hiking.png", class: "icon-hiking"%>
    <% end %>

		</div>
	</div>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
      <% if user_signed_in? %>
        <%= link_to dashboard_path(current_user) do %>
        <%= cl_image_tag current_user.photo.key,class: "avatar-profile", alt: "avatar-large" %>
      <% end %>
    <% end %>
		</div>
	</div>
	<div class="mobile-bottom-nav__item" >
		<div class="mobile-bottom-nav__item-content">


        <%= link_to dashboard_path(current_user) do %>
          <i class="fa-solid fa-bell"></i>
          <div class="icon-notif <%= current_user.pending_bookings_number.positive? ? '' : 'd-none'  %>" data-user-subscription-target="bell">
            <%= current_user.pending_bookings_number %>
          </div>
          <% end %>

		</div>
	</div>

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
        <% if current_user.pending_bookings_validated.count.positive? && !current_user.pending_bookings_validated.last.pending %>
        <%= link_to pending_path(current_user.pending_bookings_validated.last),method: :patch  do %>
          <i class="fa-solid fa-envelope fa-bounce"  data-user-subscription-target="message" ></i>
        <% end %>
        <% else %>
          <i class="fa-solid fa-envelope " data-user-subscription-target="message"></i>
        <% end %>

		</div>
	</div>
</nav>
