
<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fa-solid fa-magnifying-glass "></i>
    <% end %>


		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
    <%= link_to new_activity_path  do %>
			<%= image_tag "icon-hiking.png", class: "icon-hiking"%>
    <% end %>

		</div>
	</div>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
      <% if user_signed_in? %>
        <%= link_to dashboard_path(current_user) do %>
        <%= cl_image_tag current_user.photo.key,class: "avatar-profile", alt: "avatar-large" %>
      <% end %>
    <% end %>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">

    <% if  current_user.pending_bookings_number.positive? %>
        <%= link_to dashboard_path(current_user) do %>
          <i class="fa-solid fa-bell"></i>
          <div class="icon-notif">
          <%= current_user.pending_bookings_number %>
          </div>
          <% end %>
    <% else %>
      <i class="fa-solid fa-bell"></i>
    <% end %>

		</div>
	</div>

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
    <% if current_user.pending_bookings_validated.count.positive? && !current_user.pending_bookings_validated.last.pending %>

      <%= link_to pending_path(current_user.pending_bookings_validated.last),method: :patch  do %>
        <i class="fa fa-wrench faa-wrench validated animated faa-fast"></i>
      <% end %>

    <% else %>
			<a href="#"><i class="fa-solid fa-comment"></i></a>
    <% end %>
		</div>
	</div>
</nav>

<%#
<script>

    const button = document.querySelector('.validated')
    button.addEventListener('click', () => {
      fetch('')
    })


</script> %>
