<h1>Dashboard</h1>

<div class="organisation">
  <h2>Organisation</h2>
  <div class="notification" style="background-color: blue; color: white">

    <p>Mes notifications d'activités</p>
      <% @my_activities.each do |activity| %>
        <ul >
          <% activity.bookings.each do |booking| %>
            <% if !booking.validated  &&  !booking.refused%>
              <li><%= activity.id %> <%= activity.title %> Participant: <%= booking.user.first_name.capitalize %>      Validated: <%= booking.validated %>  Refused: <%= booking.refused %> <%= link_to 'Confirmer', validation_path(booking), method: :patch, class: 'button-34 green' %>  <%= link_to 'Décliner', refused_path(booking), method: :patch, class: 'button-34 red'   %>  </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>


  <div class="validated" style="background-color: green; color: white">
    <p>Historiques de mes activités validées</p>

      <% @my_activities.each do |activity| %>
        <ul>
          <% activity.bookings.each do |booking| %>
            <% if booking.validated && !booking.refused %>
              <li><%= activity.title %> Participant: <%= booking.user.first_name.capitalize %>      Validated: <%= booking.validated %> Refused: <%= booking.refused %>     </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>


  <div class="refused" style="background-color: red; color: white">
    <p>Historiques de mes activités refusées </p>

      <% @my_activities.each do |activity| %>
        <ul>
          <% activity.bookings.each do |booking| %>
            <% if booking.refused && !booking.validated  %>
              <li><%= activity.title %> Participant: <%= booking.user.first_name.capitalize %>      Validated: <%= booking.validated %>  Refused: <%= booking.refused %>   </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>
</div>


<div class="participation">
  <h1>Participations</h1>
  <div class="notification" style="background-color: blue; color: white">
  <p>Mes notification de participations</p>
      <% @my_participations.each do |participation| %>

        <ul >
          <% if !participation.validated &&  !participation.refused %>
            <li><%= participation.activity.id %> <%= participation.activity.title %> Organisateur: <%= participation.activity.user.first_name.capitalize %>    Confirmed: <%= participation.validated %> Declined: <%= participation.refused %>  </li>
          <% end %>
        </ul>

      <% end %>
  </div>

  <div class="validated" style="background-color: green; color: white">
    <p>Historiques de mes participations confirmées</p>
      <% @my_participations.each do |participation| %>

          <ul >
            <% if participation.validated && !participation.refused %>
              <li><%= participation.activity.title %> Organisateur: <%= participation.activity.user.first_name.capitalize %>    Confirmed: <%= participation.validated %> Declined: <%= participation.refused %>  </li>
            <% end %>
          </ul>

        <% end %>
  </div>

  <div class="refused" style="background-color: red; color: white">
    <p>Historiques de mes participations déclinées</p>
      <% @my_participations.each do |participation| %>

          <ul>
            <% if participation.refused && !participation.validated %>
              <li><%= participation.activity.title %> Organisateur: <%= participation.activity.user.first_name.capitalize %>    Confirmed: <%= participation.validated %> Declined: <%= participation.refused %>   </li>
            <% end %>
          </ul>

        <% end %>
  </div>
</div>
