<h1>Categories Index</h1>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Randonnée</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Rafting</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Escalade</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Yoga</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Plongée</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>VTT</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>

<h2>Surf</h2>
<div class="cards">
      <% @categories.each do |category| %>
           <%= link_to category_activities_path(category), :action => 'go' do %>
          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>
            <% end %>
            <% end %>
            </div>
