<%= form_tag categories_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Cherche ta catégorie"
  %>
  <%= submit_tag "Rechercher", class: "btn-search-date" %>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category_activities_path(category), :action => 'go' do %>
    <div class="card-category", style= "background-image: linear-gradient( rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
      <h3><%= category.name %></h3>
    </div>
  <% end %>
<% end %>
