    <div class="main-search">
      <div class="search-bar">
        <%= simple_form_for :activity, url: category_activities_path, method: :get do |f| %>
          <%= f.input :start_date, as: :date, label: false, placeholder: 'okko', html5: true%>
          <div><%= submit_tag 'Rechercher', class: "btn-search-date", style: 'text-align: center' %>
        <% end %>
        </div>
      </div>
    </div>

    <% @activities.each do |activity| %>
        <%= link_to category_activity_path(@category, activity), :action => 'go' do %>
          <div class="card-activity">
            <h2><%= activity.title %></h2><br>
            <p><%= activity.description %></p><br><br>
            <p style=""><%= activity.start_date.strftime("Le %d/%m/%Y à %H:%M") %></p>
            <p class="first_name_card"><%= activity.user.first_name %></p>
              <div class="avatar-rounded-activity">
                  <%= image_tag "https://pickaface.net/gallery/avatar/unr_random_160817_0304_2mvqp69.png", class: "avatar-large", alt: "avatar-large" %>
                <%#= cl_image_tag current_user.photo.key %>
        <% end %>
              </div>
      </div>
      <% end %>
