    <div class="main-search">
      <div class="search-bar">
        <%= simple_form_for :activity, url: category_activities_path, method: :get do |f| %>
          <%= f.input :start_date, as: :date, label: false, html5: true, class:"form-date"%>
          <div><%= submit_tag 'Rechercher', class: "btn-search-date", style: 'text-align: center' %>
        <% end %>
        </div>
      </div>
    </div>

    <% @activities.each do |activity| %>
          <div class="card-activity">
        <%= link_to category_activity_path(@category, activity), :action => 'go' do %>
            <h2><%= activity.title %></h2><br>
            <p><%= activity.description %></p><br><br>
            <p style=""><%= Time.at(activity.start_date).strftime("Le %d/%m/%Y à %H:%M") %></p>
            <p class="first_name_card"><%= activity.user.first_name %></p>
              <div class="avatar-rounded-activity">
                  <%= cl_image_tag activity.user.photo.key, class: "avatar-large", alt: "avatar-large" %>
              </div>
        <% end %>
      </div>
      <% end %>
