<<<<<<< HEAD:app/views/Activities/index.html.erb
<div class="date-picker">
  <p>Date: <input type="text" id="datepicker"></p>
</div>


    <% @activities.each do |activity| %>

      <div class="card-activity">
        <%#= link_to activity_path(activity), :action => 'go' do %>
            <h2><%= activity.title %></h2><br>
            <p><%= activity.description %></p><br><br>
            <p style=""><%= activity.start_date.strftime("Le %d/%m/%Y à %H:%M") %></p>
            <p class="first_name_card"><%= activity.user.first_name %></p>
              <div class="avatar-rounded-activity">
                  <%= image_tag "https://pickaface.net/gallery/avatar/unr_random_160817_0304_2mvqp69.png", class: "avatar-large", alt: "avatar-large" %>
                <%#= cl_image_tag current_user.photo.key %>
              </div>
      </div>
      <% end %>
=======
<% @activities.each do |activity| %>
  <%= activity.title  %>
<% end %>
>>>>>>> master:app/views/activities/index.html.erb
