<div class="main-container">

    <p style="color: red">for testing only current_user.id <%= current_user.id %></p>

  <div class="creator-container">

      <div class="creator-avatar" style="height: 150px; width: 150px;border-radius: 50%; background-size:cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= cl_image_path(@activity.user.photo.key)%>')">
      </div>
      <div class="creator-info">
          <p class="start-date"><%= @activity.start_date.strftime('%F')  %></p>
          <strong><h4 class="creator-name"><%= @activity.user.first_name.capitalize %></h4></strong>
          <div class="creator-rating">
            <% @avg_rating.times do %>
              <i class="fa fa-star" aria-hidden="true" style="font-size: 20px; color:goldenrod"></i>
            <% end %>
            <% (5 - @avg_rating).times do %>
              <i class="fa fa-star" aria-hidden="true" style="font-size: 20px; color:lightgrey"></i>
            <% end %>
          </div>
      </div>

  </div>

  <div class="activity-container">
    <h3><%= @activity.title %></h3>
    <p class="start-hour"><%= @activity.start_date.strftime('%H')  %> H <%= @activity.start_date.strftime('%M') %></p>

    <div class="user-description">
      <p><%= @activity.user.description %></p>
    </div>

    <div class="activity-info">

    <table class="table borderless">
      <tbody class="d-flex" >
        <tr class="d-flex flex-column" >
          <td>Matériel requis:</td>
          <td>Difficultés:</td>
          <td>Participants:</td>
        </tr>
        <tr class="d-flex flex-column">
          <td><%= @activity.material %> </td>
          <td><%= @activity.difficulty %> /10</td>
          <td><% @activity.bookings.each do |booking| %><%= cl_image_tag booking.user.photo.key, class: "avatar" %><% end %></td>
        </tr>
      </tbody>
    </table>
        <%# <p>Matériel requis:</p> <p><%= @activity.material %>
        <%# <p>Difficultés: </p> <p><%= @activity.difficulty %>

        <%# <p>Participants: </p>
          <% @activity.bookings.each do |booking| %>
            <%# <div><%= cl_image_tag booking.user.photo.key, class: "avatar" %>
          <%# <% end %>


    </div>
</div>


  <div class="btn-container">
    <div><a class="button-34 red">Contacter</a></div>
    <div><%= link_to 'Réserver', activity_bookings_path(@activity), method: :post, class: 'button-34 green' %></div>
  </div>



</div>
